@import url("/styles/utility.css");


.avatar {
    border-radius: 50%;
}


.avatar-large{
    width: 14rem;
    height: 14rem;
    font-size: 4rem;
}

.avatar-medium{
    width: 8rem;
    height: 8rem;
    font-size: 1.8rem;
}

.avatar-small{
    width: 6rem;
    height: 6rem;
    font-size: 1rem;
}

.avatar-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



